<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysTenantMapper">
    
    <resultMap type="SysTenant" id="SysTenantResult">
        <result property="id"    column="id"    />
        <result property="tenantId"    column="tenant_id"    />
        <result property="tenantName"    column="tenant_name"    />
        <result property="domain"    column="domain"    />
        <result property="backgroundUrl"    column="background_url"    />
        <result property="linkman"    column="linkman"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="address"    column="address"    />
        <result property="accountNumber"    column="account_number"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectSysTenantVo">
        select id, tenant_id, tenant_name, domain, background_url, linkman, contact_number, address, account_number, expire_time, create_user, create_time, update_user, update_time, status, deleted from sys_tenant
    </sql>

    <select id="selectSysTenantList" parameterType="SysTenant" resultMap="SysTenantResult">
        <include refid="selectSysTenantVo"/>
        <where>  
            <if test="tenantId != null  and tenantId != ''"> and tenant_id = #{tenantId}</if>
            <if test="tenantName != null  and tenantName != ''"> and tenant_name like concat('%', #{tenantName}, '%')</if>
            <if test="domain != null  and domain != ''"> and domain = #{domain}</if>
            <if test="backgroundUrl != null  and backgroundUrl != ''"> and background_url = #{backgroundUrl}</if>
            <if test="linkman != null  and linkman != ''"> and linkman = #{linkman}</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="accountNumber != null "> and account_number = #{accountNumber}</if>
            <if test="expireTime != null "> and expire_time = #{expireTime}</if>
            <if test="createUser != null "> and create_user = #{createUser}</if>
            <if test="updateUser != null "> and update_user = #{updateUser}</if>
            <if test="status != null and status !=''"> and status = #{status}</if>
            <if test="deleted != null "> and deleted = #{deleted}</if>
        </where>
    </select>
    
    <select id="selectSysTenantById" parameterType="Long" resultMap="SysTenantResult">
        <include refid="selectSysTenantVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysTenant" parameterType="SysTenant" useGeneratedKeys="true" keyProperty="id">
        insert into sys_tenant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="tenantName != null and tenantName != ''">tenant_name,</if>
            <if test="domain != null">domain,</if>
            <if test="backgroundUrl != null">background_url,</if>
            <if test="linkman != null">linkman,</if>
            <if test="contactNumber != null">contact_number,</if>
            <if test="address != null">address,</if>
            <if test="accountNumber != null">account_number,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="tenantName != null and tenantName != ''">#{tenantName},</if>
            <if test="domain != null">#{domain},</if>
            <if test="backgroundUrl != null">#{backgroundUrl},</if>
            <if test="linkman != null">#{linkman},</if>
            <if test="contactNumber != null">#{contactNumber},</if>
            <if test="address != null">#{address},</if>
            <if test="accountNumber != null">#{accountNumber},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateSysTenant" parameterType="SysTenant">
        update sys_tenant
        <trim prefix="SET" suffixOverrides=",">
            <if test="tenantId != null">tenant_id = #{tenantId},</if>
            <if test="tenantName != null and tenantName != ''">tenant_name = #{tenantName},</if>
            <if test="domain != null">domain = #{domain},</if>
            <if test="backgroundUrl != null">background_url = #{backgroundUrl},</if>
            <if test="linkman != null">linkman = #{linkman},</if>
            <if test="contactNumber != null">contact_number = #{contactNumber},</if>
            <if test="address != null">address = #{address},</if>
            <if test="accountNumber != null">account_number = #{accountNumber},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteSysTenantById" parameterType="Long">
        delete sys_tenant set deleted=true where id = #{id}
    </update>

    <update id="deleteSysTenantByIds" parameterType="String">
        update sys_tenant set deleted=true where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>