# Build Tools
.gradle
build/
target/
*.zip
*.rar

!gradle/wrapper/gradle-wrapper.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE

### STS,Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### JRebel ###
rebel.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Others
HELP.md
*.log
*.xml.versionsBackup
*.swp
.mvn

#MAC
.DS_Store

#docker
docker/mysql
docker/redis
docker/server
docker/ui
docker/upload
!docker/**/readme.txt
!docker/**/dockerfile
!docker/**/conf

