# Build Tools
.gradle
build
target/
*.zip
*.rar

# IDE

### STS,Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Others
HELP.md
*.log
*.xml.versionsBackup
*.swp
.mvn

#MAC
.DS_Store
