[client]
default-character-set = utf8mb4


[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci

#最大链接数
max_connections=1000
#表名大小写不敏感
lower_case_table_names=1
#mode规则
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

ngram_token_size=1